{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>
<h1>Home</h1>
<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Key</th>
      <th scope="col">value</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><a href="query.html?car={{$BlockResponse.Key}}">{{$BlockResponse.Key}}</a></td>
          <td>{{$BlockResponse.Key}}</td>
          <td>{{$BlockResponse.Value}}</td>
</tr>
{{end}}
</tbody>
</table>
<a href="request.html">Change the Hello value</a>
{{end}}